.ant-menu-item-selected {
  background-color: white !important;
  color: #e30118 !important;
}

.ant-menu-title-content {
  display: block;
}

.ant-menu-item {
  padding: 0 !important;
  margin: 0 !important;
  top: 0 !important;
}
