.container {
  width: 80%;
  margin: 3rem auto;

  .driver {
    font-weight: bold;
  }

  .section {
    font-weight: bold;
    color: #000979;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 3rem 0rem 2rem;
  }
}
